[Unit]
Description=Set GPU boost clock
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/opt/aws/aws-gpu-boost-clock.sh
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
