[Unit]
Description=HW Error Monitor
Before=amazon-cloudwatch-agent.service
After=nvidia-persistenced.service

[Service]
Type=simple
ExecStart=/opt/aws/aws-cloudwatch-wrapper.sh
RemainAfterExit=1
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
