[Unit]
Description=HW Error Monitor
Before=amazon-cloudwatch-agent.service
After=nvidia-persistenced.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/python3 /opt/aws/aws-hwaccel-error-parser.py
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
