[Unit]
Description=Create a default MIG configuration
Before=nvidia-fabricmanager.service

[Service]
Type=oneshot
EnvironmentFile=/etc/default/mig
RemainAfterExit=yes
ExecStartPre=/bin/nvidia-smi -mig 1
ExecStartPre=/bin/nvidia-smi --gpu-reset
ExecStart=/opt/mig/create_mig.sh $MIG_PARTITION
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
