[Unit]
Description=EFA HW Monitor
Before=amazon-cloudwatch-agent.service
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/aws/aws-cloudwatch-wrapper.sh
RemainAfterExit=1
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
